<div class="hero-container" [style.background-image]="'url(' + currentImage + ')'">
  <div class="hero-content">
    <div class="logo-container">
       <img src="images/logo.png" alt="Shira Beauty" class="main-home-logo">
    </div>
    
    <h1>ברוכים הבאים למרכז הטיפוח</h1>
    <p>מקצועיות, שירות ואיכות ללא פשרות</p>
    
    <div class="button-group">
      <button routerLink="/appointments" class="btn-gold">לקביעת תור</button>
      <button routerLink="/treatments" class="btn-outline">לצפייה בטיפולים</button>
    </div>
  </div>
</div>